@keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0; }
  to {
    background-position: -10000px 5000px; } }

@keyframes move-clouds-back {
  from {
    background-position: 0 0; }
  to {
    background-position: 10000px 0; } }

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0; }
  to {
    background-position: 10000px 0; } }

@-moz-keyframes move-clouds-back {
  from {
    background-position: 0 0; }
  to {
    background-position: 10000px 0; } }

@-ms-keyframes move-clouds-back {
  from {
    background-position: 0; }
  to {
    background-position: 10000px 0; } }

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block; }

.stars {
  background: #000 url(/assets/stars.png) repeat top center;
  z-index: -1; }

.twinkling {
  background: transparent url(/assets/twinkling.png) repeat top center;
  -moz-animation: move-twink-back 400s linear infinite;
  -ms-animation: move-twink-back 400s linear infinite;
  -o-animation: move-twink-back 400s linear infinite;
  -webkit-animation: move-twink-back 400s linear infinite;
  animation: move-twink-back 400s linear infinite;
  z-index: -1; }

.moon-component {
  position: absolute;
  border-radius: 50%;
  background: #c7cbd1;
  border: 2px solid #788999;
  box-shadow: inset -50px 0px 0px 0px #a4a3a8; }
  .moon-component .moon-body {
    position: relative;
    height: 100%; }
    .moon-component .moon-body .crater {
      position: absolute;
      background: #747379;
      border-radius: 50%; }
      .moon-component .moon-body .crater.large {
        width: 20%;
        height: 20%;
        box-shadow: inset 12px -2px 0px 0px #404040; }
      .moon-component .moon-body .crater.medium {
        width: 12%;
        height: 12%;
        box-shadow: inset 7px -2px 0px 0px #404040; }
      .moon-component .moon-body .crater.small {
        width: 5%;
        height: 5%;
        box-shadow: inset 4px -2px 0px 0px #404040; }
  .moon-component.is-animated {
    animation: moon-wiggle 4s infinite ease-in-out; }

@keyframes moon-wiggle {
  0% {
    transform: translateY(15px); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(15px); } }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white; }
