body {
  margin: 0;
  padding: 0;
  font-family: 'Bangers', cursive;
  letter-spacing: 1.4px;
  color: white; }

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 2px; }

button {
  font-family: 'Bangers', cursive; }

input {
  font-family: 'Bangers', cursive;
  letter-spacing: 2px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
